

body{
    color: $main-color;
    font-size: $main-font;
    font-family: $main-font;
    
}

h1 {
    color: $main-color;
}

h2 {
    color: $main-color;
}

h3 {
    color: $main-color;
}

p {
    color: $main-color;
}

.hidden {
    display: none;
}