

body{
    color: $main-color;
    font-size: $main-font;
    font-family: $main-font;
    
}

h1 {
    color: $main-color;
}

h2 {
    color: $main-color;
}

h3 {
    color: $main-color;
}

p {
    color: $main-color;
}

.hidden {
    display: none;
}

.circle1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(253, 225, 227);
    clip-path: circle(800px at right 400px);
}



@media (max-width: 1300px){
    .circle1 {
        display: none;
    }
}


