//this is how the file should be syntaxed - make sure the naming convention starts with an underscore (_)

header {
    width: 100%;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    justify-content: left;
    max-width: 100px;
}

// desktop
@media (max-width: 800px) {

    header {
        padding: 30px;
        margin: auto;
        justify-content: center;
 
    }

}
