//this is how the file should be syntaxed - make sure the naming convention starts with an underscore (_)

#favThingsButtons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
    transform: translateX(-50%);

    img {
        max-width: 120px;
        // box-shadow: 5px 8px 10px rgba(0,0,0,0.10);
        transition: 0.5s;
        margin-top: 60px;
        opacity: 80%;
    }

    img:hover{
        transform: translateY(-15px);
        opacity: 100%;
    }
} 


@media (max-width: 1300px){
    #favThingsButtons{
        width: 60%;
    }
}

@media (max-width: 400px){
    #favThingsButtons{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        display: inline-block;
        top: 0;
        left: 0;
        align-items: center;
        width: 10em;

        img:hover{
            transform: translateX(15px);
        }
    }
}






 