//this is how the file should be syntaxed - make sure the naming convention starts with an underscore (_)

#favThings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    div {
        width: 30%;
        min-width: 300px;
        box-sizing: border-box;
    }
}

.favThingText {
        width: 40%;
        min-width: 300px;
        box-sizing: border-box;

}

.fav_img {
    width: 100%;
}


.fav_name {
    color: $main-color;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
    padding-bottom: 20px;
}

.fav_heading {
    color: purple;
    font-size: 1em;
    font-weight: 900;
    line-height: 1.5em;
    padding-bottom: 10px;
}

.fav_description {
    color: plum;
    line-height: 1.2em;
}

.button {
    display: inline-block;
    margin: 30px;
    padding: 8px 20px;
    background: rgb(229, 194, 250);
    color:white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: background-color .5s;
}

.button:hover {
    background-color: purple;
    color: white;
}

// desktop
@media (min-width: 800px){
   

    .fav_name {
        font-size: 3em;
        line-height: 1.2em; 
    }

    .fav_heading {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    .fav_description {
        font-size: 1.1em;
        line-height: 1.2em;
    }

    .button {
        padding: 8px 20px;
        margin: 30px auto;
    }

   
}



